In [30]:
import pandas as pd
import numpy as np

In [31]:
data = pd.read_csv('./training_data.csv',delimiter=':')

In [32]:
data.head()

          x         x2         y
0 -0.228788  -2.287877  3.506056
1 -0.094669  -0.946690  0.782723
2 -0.956651  -9.566513  3.045309
3 -1.984509 -19.845088  3.063300
4  0.386115   3.861152  5.548161

In [33]:
data.shape

(1000, 3)

In [34]:
data.describe()

                x          x2           y
count  998.000000  998.000000  998.000000
mean     3.496300   34.963000    5.641535
std      3.270797   32.707971    2.696431
min     -3.444108  -34.441079   -0.075518
25%      0.118074    1.180740    3.432217
50%      4.011380   40.113800    5.081093
75%      6.306373   63.063733    8.294083
max      9.846538   98.465379   11.521694

In [35]:
data.isnull().sum()

x     2
x2    2
y     2
dtype: int64

In [36]:
data.fillna(np.mean(data))

            x         x2          y
0   -0.228788  -2.287877   3.506056
1   -0.094669  -0.946690   0.782723
2   -0.956651  -9.566513   3.045309
3   -1.984509 -19.845088   3.063300
4    0.386115   3.861152   5.548161
..        ...        ...        ...
995  6.090780  60.907804   6.994628
996  6.404440  64.044398  10.341862
997  6.759155  67.591547   8.604072
998  7.696100  76.960998   9.130374
999  7.035916  70.359157   7.827138

[1000 rows x 3 columns]

In [37]:
data.isnull().sum()

x     2
x2    2
y     2
dtype: int64

In [38]:
from %pip install scikit-learn
sklearn.linear_model import LinearRegression

SyntaxError: invalid syntax (39378309.py, line 1)

In [ ]:
model = LinearRegression()

In [ ]:
model.fit(x_train, y_train)

ValueError: Expected 2D array, got scalar array instead:
array=Ellipsis.
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.

In [ ]:
y=model.predict([[3]])

In [ ]:
y

In [ ]:
model.coef_

In [ ]:
model.intercept_

In [ ]:
y = model.intercept_ + model.coef_*x_train

In [ ]:
plt.sacatter(x_train,y_train)
plt.plot(x_train,y)
plt.xlabel("X")
plt.ylabel("Y")
plt.title("Regression line(Train Set):")
plt.show()

NameError: name 'plt' is not defined

In [ ]:
from sklearn.metrics import mean_squared_error